@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Sunflower:wght@300&display=swap');
body {
    margin: 0;
    font-family: "Sunflower", sans-serif;
}


section {
    width: 100%;
    height: 120vh;
    text-align: center;
}
section:nth-child(even) {
    background-color: #f2e4ff7a;
}
/* 그라데이션 */
#home .wrapper{
    background: linear-gradient(to bottom, 
     #c78fff 60%, #fff);
}
/* #about, #skills, #works, #contact {
    background: linear-gradient(to bottom right, #e6cdff 40%, #c4c7ff);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
} */

 #contact, #skills, #works {
    height: 150vh;
}
#about{
    height: 180vh;
}
/* 상자 높이 등 조절 */
#home .wrapper{
    padding-top: 0.9vh;
    padding-bottom: 30vh;
    /* max-width: 1200px; */
    margin: auto;
}
#about .wrapper {
    padding-top: 45vh;
    /* max-width: 1200px; */
    margin: auto;
}
#skills .wrapper {
    padding-top: 30vh;
    /* max-width: 1200px; */
    margin: auto;
}
#works .wrapper {
    padding-top: 30vh;
    /* max-width: 1200px; */
    margin: auto;
}
#contact .wrapper {
    padding-top: 30vh;
    /* max-width: 1200px; */
    margin: auto;
}


/* 이미지 크기 */
#home .wrapper img{
    width: 70vh; 
    margin-top: 20vh;
}
#about .wrapper img{
    width: 75vh;
    margin-top: vh;
}
#skills .wrapper img{
    width: 93vh;
    margin-right: -13vh;
}
#works .wrapper img{
    width: 120vh;
    max-width: 100%;
    max-height: 100%;
}
#contact .wrapper img{
    width: 90vh;
}

/* 이미지 모션 */
/* CSS 스타일링 */
#about .wrapper .profile-img,
#skills .wrapper .profile-img,
#works .wrapper .profile-img,
#contact .wrapper .profile-img {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#about .wrapper .profile-img.visible,
#skills .wrapper .profile-img.visible,
#works .wrapper .profile-img.visible,
#contact .wrapper .profile-img.visible {
    opacity: 1;
}



/* 프로필 크기 조정 */
#home .wrapper img {
    opacity: 0;
    transition: opacity .5s ease-in-out, transform 1s ease-in-out;
}

#home .wrapper img.visible {
    opacity: 1;
    transform: scale(1.2);}

/* 텍스트 크기 등 */
#home .wrapper h1{
    margin-top: 15vh;
    color: #6248c08a;
    font-family: "Nanum Brush Script", cursive;
    font-size: 10vh;
}
#home .wrapper h2{
    margin-top: 7vh;
    font-size: 3vh;
}
#home .wrapper h3{
    font-size: 3vh;
}
h1 {
    color: #6248c0;
    font-size: 7vh;
    font-weight: 900;
}
h2 {
    font-size: 5vh;
    font-weight: 400;
    color: #00000091;
}
h3 {
    font-size: 3.8vh;
    font-weight: 400;
}
p{
    font-size: 3vh;
    font-weight: 300;
}


/* 버튼 */
.btns {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.btns .container {
    position: relative;
    max-width: 900px;
    padding: 20px;
    /* background-color: rgb(205, 205, 205); */
    margin: auto
}

.btns_bgcolor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(273, 80%, 92%, 0.3);
    z-index: -1;
    backdrop-filter: blur(10px);
}

.btns_menu {
    display: flex;
    justify-content: center;
}
.btns_menu .btn {
    font-size: 16px;
    font-weight: 600;
    color: #193a40;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    margin: 4px;
    background-color: #ddbcff;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* 버튼 색생 변경_반응 */
.btns_menu .btn:hover {
    background-color: #e8d3fc;
    border: 1px solid #a662ea;
}


/* 화살표 */
.arrow-up {
    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 139, 0.486);
    color: white;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
.arrow-up span {
    font-size: 50px;
}
.arrow-up.show{
    opacity: 1;
}
